.root {
	padding: 24px 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 16px;
	border-bottom: 1px solid var(--black-color);
}

.root.today {
	border-bottom: 2px solid var(--primary-color);
}

.root h2 {
	color: var(--primary-color);
}

.invoices {
	display: flex;
	flex-direction: column;
}

.footer {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sum {
	font-size: 22px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.sum span {
	font-weight: bold;
	color: var(--primary-color);
}

.header {
	margin-top: 24px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.count {
	font-size: 22px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-weight: bold;
}

.count span {
	color: var(--primary-color);
	font-weight: bold;
}

.total {
	margin-bottom: 8px;
}
.count .total {
	margin-top: 24px;
}
.company {
	font-size: 18px;
	font-weight: normal;
	padding-left: 24px;
	font-style: italic;
}

.count .company {
}

.companies {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
